.houses-list .card-block, .card.room-el .card-block {
    padding: 20px;
}

.card.room-el {
    min-height: 400px;
}

.wizard-progress {
    border-radius: 0;
}

.wizard-progress .progress-bar {
    background-color: #609ad3;
}

.step-number, .hints-title {
    text-transform: uppercase;
    color: #999;
}

.form-control {
    width: 66%;
}

.margin-left {
    margin-left: 34%;
}

.checkbox-column {
    padding-top: 7px;
}

.hints-container ul {
    padding-left: 20px;
}

p.name-hints {
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 20px;
    font-size: 14px;
}

.houses-list .card {
    margin-bottom: 20px;
}

.house-card-img {
    height: 220px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.beds-row .rounded-circle {
    max-width: 100%;
    width: 140px;
}

.hint {
    color: #609ad3!important;
    cursor: pointer;
}

.file-drag-handle {
    display: none;
}