/* GLOBAL STYLES
-------------------------------------------------- */

html, body, main {
  height: 100%;
}

a:hover, a:focus {
  text-decoration: none;
}

.btn-link {
  color: #619bd5;
}

.btn-link.yellow-link {
  color: #fed37e;
}

.btn-primary {
  background-color: #609ad3!important;
  color: #fff!important;
}

.btn-outline-success {
  border: 2px solid #099154!important;
  background-color: transparent!important;
  color: #099154!important;
}

.text-success {
  color: #099154!important;
}

.logo {
  max-height: 50px;
  margin: 5px 20px;
}

.main-navbar {
    padding: 0px;
}

li.nav-item {
    height: 60px;
    padding: 10px;
}

li.nav-item.text-link {
  padding: 15px 5px;
  font-size: 14px;
}

li.nav-item.dropdown {
    padding: 0px;
}

.dropdown-toggle::after {
    display: none;
}

.nav-item .profile-pic {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -2px;
  margin-left: 0px;
}

.notifications-menu .profile-pic {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 20px;
}

.dropdown.show .profile-pic {
    border: 2px solid rgba(253, 127, 124, 0.5);;
}

.btn.btn-notifications {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 0px;
  margin-top: 5px;
  background-color: #FFF;
  color: #333;
}

a.btn.btn-notifications {
  padding-top: 7px;
}

.notifications-menu {
  min-width: 400px;
}

.notifications-menu .all-notifications-link {
  font-size: 14px;
}

.notifications-menu .dropdown-header {
  margin-bottom: 10px;
}

.user-menu {
    border-radius: 0px;
}

.container {
  max-width: 95%;
}

.btn-success {
  background-color: #099154!important;
}

.btn-fb {
  background-color: #3b5998!important;
  color: #fff!important;
}

.dropdown-menu {
  min-width: 20rem;
}

/* Search input */
#search-input {
  height: 50px;
  width: 100%;
  padding-left: 60px;
}

#search-input:focus {
  border-width: 0px;
  box-shadow: 0 0 0 0;
}

#search-input:focus~.search-icon {
  color: rgba(253, 127, 124, 1);
}

#search-input:after {
  content: "\f087"; 
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  font-size: 400px;
  color: lightblue;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -200px;
  z-index: 1;
}

h3.page-title {
  display: inline-block;
}

h3.page-target {
  display: inline-block;
  font-size:20px;
  padding-top:5px;
}

#login-wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/images/homepage/background.jpg');
  height: 100%;
  padding-top: 10%;
}

#btn-notifications.unread {
  color: #fd7f7b;
  border-color: #fd7f7b;
  border-width: 2px;
  box-shadow: 0 0 0 0.2rem #f274742e;
  font-weight: 800;
}

.login-box {
  width: 25%;
  margin: 0 auto;
  background-color: #FFF;
  padding-top: 20px;
}

.btn-login {
  background-color: #138d53;
}

.shadow {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.shadow:hover {
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.shadow-nohover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.page-title-container {
  background-color: #619bd5;
  width: auto;
  position: absolute;
  top: 120px;
  z-index: 9;
  color: #FFF;
  text-transform: uppercase;
  left: 0px;
  padding: 5px 10px 5px 50px;
  letter-spacing: 5px;
}

.page-target-container {
  background-color: #212121;
  width: auto;
  position: absolute;
  z-index: 9;
  color: #FFF;
  left: 0px;
  padding: 2px 10px 2px 50px;
}

.notification-link:link, .notification-link:hover, .notification-link:active, .notification-link:visited {
  color: #5a5a5a;
  text-decoration: none;
}

small.notification-date {
  display: block;
  font-size: 1rem;
}

#notifications-menu-content .dropdown-item {
  white-space: normal;
}

.notifications-menu {
  max-width: 440px;
  right: 40px !important;
}

.notification-container {
  font-size: 14px;
  padding: 15px 15px 5px;
}

.register-container {
  padding-bottom: 80px;
  margin-bottom: -120px;
}

  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  .card .carousel {
    margin-bottom: 0px;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 600px;
    background-size: cover;
    background-position: bottom;
  }
  .card .carousel-item {
    height: 200px;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  
  /* House Info
  ------------------------- */
  .house-info {
    margin-top: -665px;
    height: 130px;
    display: block;
    z-index: 600;
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .owner-name, .owner-pic {
    display: block;
    float: left;
  }

  .owner-pic {
    margin-top: -10px;
    height: 100px;
    width: 100px;
  }

  .owner-name {
    font-size: 22px;
    margin-left: 40px;
    margin-right: 20px;
    color: #FFF;
  }

  .host-title {
    font-size: 16px;
    margin-left: 40px;
    text-transform: uppercase;
    color: #FFF;
    margin-top: 5px;
  }

  .owner-container {
    display: block;
    background-color: #619bd4;
    height: 80px;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    border-radius: 40px;
    right: 0px;
    float: right;
  }

  .owner-container.female {
    background-color: rgb(253, 127, 124);
  }

  .house-name-container {
    display: inline-block;
  }

  .house-name {
    color: #FFF;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .house-location {
    color: #FFF;
    font-size: 18px;
  }

  .bed-container {
    text-align: center;
  }

  .bed-container:hover {
    cursor: pointer;
  }

  button.btn.btn-primary.btn-lg {
    padding: .5rem 2.4rem;
  }

  .bed-container.free-bed .btn {
    display: none;
  }

  .bed-container .free-place, .bed-container .user-name {
    font-size: 16px;
    margin: 20px 0px 30px;
  }

  .bed-container .user-name {
    font-weight: 800;
  }

  .border-shadow {
    box-shadow: 0 0 3pt 1pt rgba(66, 66, 66, 1);
  }

  .bed-container .rounded-circle {
    box-shadow: 0 0 3pt 1pt rgba(66, 66, 66, 1);
  }

  .bed-container:hover .rounded-circle {
    box-shadow: 0 0 2pt 3pt rgb(97, 155, 212);
  }

  .bed-container:hover .rounded-circle.female {
    box-shadow: 0 0 2pt 3pt rgb(253, 127, 124);
  }

  .bed-container:hover .user-name {
    color: rgb(97, 155, 212);
  }

  .bed-container:hover .user-name.female {
    color: rgb(253, 127, 124);
  }

  .bed-container:hover .free-place {
    display: none;
  }

  .bed-container:hover .btn {
    display: inline-block;
    margin-top: 10px;
  }

  .bed-container.pending img.rounded-circle {
    opacity: 0.6;
  }

  .users {
    margin-top: -150px;
    max-width: 920px;
  }

  .rooms-container {
    margin-top: -15px;
  }
  
  .room {
    width: 100%;
    height: 10px;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
  }

  .free-bed .btn-primary {
    background-color: rgb(97, 155, 212);
    color: #FFF;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-width: 0px;
    padding: 8px 25px;
  }

  .register {
    margin-top: 20px;
  }

  .pac-container {
    z-index: 9999;
  }

  .pac-container .pac-item {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px !important;
    padding: 10px 20px;
  }

  .beds-number {
    color: #000;
    font-size: 22px;
    padding-top: 10px;
  }

  .small-user-pic {
    width: 40px;
    margin: 0px 5px;
    height: 40px;
  }

  .no-style .free-place, .no-style .user-name {
    color: #5a5a5a;
  }

  .no-style:hover, 
  .no-style .user-name:hover, 
  .no-style .user-name:active, 
  .no-style .user-name:visited {
    text-decoration: none;
  }

  .house {
    margin: 0px 20px 80px;
  }

  .house .photos-container .row .col-md-7 {
    padding-right: 1px;
  }

  .house .photos-container .row .col-md-5 {
    padding-left: 1px;
  }

  .house .house-img {
      width: 100%;
      height: 200px;
      background-size: cover;
      background-position: center;
  }

  .house-col.col-sm-8 .house .house-img {
    height: 50vh;
  }

  .house .house-img.half {
      height: 99px;
      margin-bottom: 2px;
  }

  .house-col.col-sm-8 .house .house-img.half {
    height: 24vh;
    margin-bottom: 0.5vh;
  }

  .house-col.col-sm-8 .house .photos-container .row .col-md-7 {
    padding-right: 0.25vh;
  }

  .house-col.col-sm-8 .house .photos-container .row .col-md-5 {
    padding-left: 0.25vh;
  }

  .house .owner-container {
    position: absolute;
    height: 24px;
    width: auto;
    top: -10px;
    right: 15px;
    z-index: 999;
  }

  .house .owner-container .owner-pic {
      margin-top: -10px;
      width: 40px;
      height: 40px;
      float: right;
  }

  .house .owner-container .owner-name {
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 2px;
  }

  .house .house-users {
    position: absolute;
    z-index: 999;
    margin-top: -35px;
    width: 85%;
  }

  .house .house-users .small-user-pic {
    width: 56px;
    height: 56px;
  }

  #register-wrapper {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/images/homepage/background.jpg);
    min-height: 100%;
    padding-top: 2%;
    background-attachment: fixed;
  }

  .register-card {
    padding: 20px;
  }

  footer.page-footer {
    padding-top: 40px;
    margin-top: 120px;
  }

  footer.page-footer h6, footer.page-footer ul.footer-menu>li>a:link, footer.page-footer ul.footer-menu>li>a:visited, footer.page-footer ul.footer-menu>li>a:active, .footer-menu-title {
    color: #212121;
  }

  .footer-menu.no-title {
    margin-top: 45px;
  }

  .footer-menu-title {
    margin-bottom: 20px;
  }

  footer.page-footer .social-links a {
    color: #212121;
    font-size: 24px;
    margin-right: 5px;
  }

  .footer-logo {
    width: 50px;
    margin-bottom: 10px;
    opacity: 0.2;
  }

  .opacity-1 {
    opacity: 1!important;
  }

  .footer-copy {
    color: #bfbcba;
    font-size: 16px;
    margin-left: 15px;
    font-weight: 600;
  }

  .circle.more-users {
    width: 56px;
    height: 56px;
    background-color: #212121;
    border-radius: 50%;
    color: #FFF;
    font-size: 16px;
    line-height: 56px;
    margin: 0px 5px;
    display: inline-block;
  }

  .bed-container .circle.more-users {
    width: 140px;
    height: 140px;
    font-size: 28px;
    line-height: 140px;
  }

  .reviews-column {
    border: 1px solid #e6e6e6;
    padding: 20px;
  }

  @media (max-width: 565px) {
    #login-wrapper {
      padding-top: 0px;
    }

    .login-box {
      width: 100%;
      background-color: rgba(23, 23, 23, 0.8);
      color: #FFF;
      border-radius: 0px;
    }
  }
  
  li.nav-item.profile-nav-item {
    color: #FFF;
    padding: 20px 0px;
    height: 100px;
    background-color: rgba(255,255,255,0.1);
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /** ====== SWEETALERT =============**/

  .swal-button {
    background-color: #619bd5;
  }

  .swal-button:active {
    background-color: #2f97ff;
  }

  .swal-button--cancel {
    background-color: #efefef;
  }

  .swal-button--cancel:active {
    background-color: #d7d7d7;
  }
  
  .swal-text {
    text-align: center;
  }

  .badge-danger {
    background-color: #fc7f7a!important;
  }

  #badge-messages {
    z-index: 15;
    position: absolute;
    bottom: 5px;
    right: 15px;
  }

  @media (max-width: 575px) {
    .nav-item a:link, .nav-item a:hover, .nav-item a:visited, .nav-item a:active {
      color: #ffffff;
    }

    .nav-item a.btn-notifications {
      color: #000;
    }
  }

  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }